{% extends 'kakeibo/base.htm' %}
{% load bootstrap %}
{% block content %}
<form method="post">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content-wrapper">
          <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb" style="background-color: #696969; margin-top: 20px;  padding: 20px;">
              <li class="breadcrumb-item active">
                  <a href="{% url 'kakeibo:kakeibo_monster' %}" style="color: white; font-size: 14px;">TOP</a>
              </li>
              <li class="breadcrumb-item">
                  <a href="{% url 'kakeibo:kakeibo_list' %}"  style="color: white; font-size: 14px;">Manage Household account</a>
              </li>
              <li class="breadcrumb-item active">
                  <a href="{% url 'kakeibo:kakeibo_circle' %}"  style="color: white; font-size: 14px;">Weekly Fee</a>
              </li>
            </ol>
            <!-- Example DataTables Card-->
            <div class="card mb-3">
              <div class="card-header">
                <i class="fa fa-server"></i>
                <h3>データ登録画面</h3>
              </div>
              <div class="card-body"> {{ form|bootstrap }}
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <button class="btn btn-primary">保存</button>
              </div>
            </div>
          </div>
          {% csrf_token %}
</form>
{% endblock %}
