{% extends 'kakeibo/base.html' %}
{% block content %}
<div class="content-wrapper">
  <div class="container-fluid">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'kakeibo:kakeibo_list' %}">TOP</a>
      </li>
      <li class="breadcrumb-item active">一覧</li>
      <li class="breadcrumb-item">
        <a href="{% url 'kakeibo:kakeibo_circle' %}">Weekly Fee</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'kakeibo:kakeibo_monster' %}">Eating Monster</a>
      </li>
    </ol>
    <div class="card mb-3">
      <div class="card-header" style="background-color: #D3D3D3">
        <h3><b>家計簿アプリ</b></h3>
      </div>
      <div align="right" style="margin:10px">
        <a  class="btn btn-primary" href="{% url 'kakeibo:kakeibo_create' %}" style="background-color: #D3D3D3; color: #000000">Create new one</a>
      </div>
      <div class="card-body">
        <div class="table-responsive" >
          <table id=kakeibo_list width="100%" class="table table-striped table-bordered table-hover">
            <thead style="background-color: #B0E0E6">
              <tr>
                <th class="text-center">Date</th>
                <th class="text-center">Category</th>
                <th class="text-center">Fee</th>
                <th class="text-center">memo</th>
                <th class="text-center">Update/Delete</th>
              </tr>
            </thead>
            <tbody >
              {% for item in object_list %}
              <tr class="odd gradeX text-center">
                <td class="text-center" width="100">{{ item.date}}</td>
                <td class="text-center" width="100">{{ item.category }}</td>
                <td class="text-center" width="140">{{ item.money }}</td>
                <td class="text-center" width="140">{{ item.memo }}</td>
                <td class="text-center" width="140">
                  <a class="btn btn-primary" href="{% url 'kakeibo:kakeibo_update' item.pk %}">Update</a>
                  <a class="btn btn-danger" href="{% url 'kakeibo:kakeibo_delete' item.pk %}">Delete</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
