{% extends 'kakeibo/base.htm' %}
{% block content %}

 <div class="content-wrapper">
   <div class="container-fluid">
     <!-- Breadcrumbs-->
     <ol class="breadcrumb" style="background-color: #696969; margin-top: 20px;  padding: 20px;">
            <li class="breadcrumb-item">
                <a href="{% url 'kakeibo:kakeibo_monster' %}" style="color: white; font-size: 14px;">TOP</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'kakeibo:kakeibo_list' %}"  style="color: white; font-size: 14px;">Manage Household account</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'kakeibo:kakeibo_circle' %}"  style="color: white; font-size: 14px;">Weekly Fee</a>
            </li>
            <li>
                <a href="{% url 'kakeibo:setgoal' %}"  style="color: white; font-size: 14px;">Setting Goal</a>
            </li>
            <li>
                <a href="{% url 'kakeibo:category_list' %}"  style="color: white; font-size: 14px;">Edit Categories</a>
            </li>
            <li>
                <a href="{% url 'kakeibo:logout' %}" style="color: white; font-size: 14px;">LOGOUT</a>
            </li>
        </ol>
     <!-- Example DataTables Card-->
    <div class="card mb-3">
        <div class="card-header" style="background-color: #D3D3D3; font-size: 20px;">
                <i class="fa fa-server" style=" margin: 10px;"></i> <b>Household Account Book</b>
            </div>
        <div class="alert alert-info" role="alert" style="font-size: 20px;">Successfully updating chosen Data !</div>
{% endblock content %}
